# Ignore Data folders
*/mastDownload/
*/.ipynb_checkpoints/
*/__pycache__/
*/.idea/
*/CRDS/
/Topcat/
/CIGALE/
/prism/
/Docs/
*/Cigale/
/GHZ2_external/

*.ini
*.ini.spec
*.bbl-SAVE-ERROR
*.xml

# Ignore Images
*.png
*.fits
*.npy
*.json
*-checkpoint*
*.txt
*.mp4
*.pdf
*.pptx
*.zip

!assets/
!Rapport/assets/*

# LaTeX

## Core latex/pdflatex auxiliary files:
Rapport/*.aux
Rapport/*.lof
Rapport/*.log
Rapport/*.lot
Rapport/*.fls
Rapport/*.out
Rapport/*.toc
Rapport/*.fmt
Rapport/*.fot
Rapport/*.cb
Rapport/*.cb2
Rapport/.*.lb

## Build tool auxiliary files:
Rapport/*.fdb_latexmk
Rapport/*.synctex
Rapport/*.synctex(busy)
Rapport/*.synctex.gz
Rapport/*.synctex.gz(busy)
Rapport/*.pdfsync

## Intermediate documents:
Rapport/*.dvi
Rapport/*.xdv
Rapport/*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
Rapport/*.bbl
Rapport/*.bcf
Rapport/*.blg
Rapport/*-blx.aux
Rapport/*-blx.bib
Rapport/*.run.xml

# glossaries
Rapport/*.acn
Rapport/*.acr
Rapport/*.glg
Rapport/*.glo
Rapport/*.gls
Rapport/*.glsdefs
Rapport/*.lzo
Rapport/*.lzs
Rapport/*.slg
Rapport/*.slo
Rapport/*.sls
Rapport/main.aux
Rapport/main.pdf
Rapport/main.log
Rapport/main.ist
Rapport/main.fls
Rapport/main.fdb_latexmk
/.idea/.gitignore
/.idea/BetterNIRSpecBackground.iml
/CRDS/config/jwst/ref_cache_subdir_mode
/CRDS/config/jwst/server_config
/CRDS/mappings/jwst/jwst_1293.pmap
/CRDS/mappings/jwst/jwst_fgs_0116.imap
/CRDS/mappings/jwst/jwst_fgs_abvegaoffset_0002.rmap
/CRDS/mappings/jwst/jwst_fgs_apcorr_0004.rmap
/CRDS/mappings/jwst/jwst_fgs_area_0010.rmap
/CRDS/mappings/jwst/jwst_fgs_dark_0017.rmap
/CRDS/mappings/jwst/jwst_fgs_distortion_0011.rmap
/CRDS/mappings/jwst/jwst_fgs_flat_0009.rmap
/CRDS/mappings/jwst/jwst_fgs_gain_0010.rmap
/CRDS/mappings/jwst/jwst_fgs_ipc_0003.rmap
/CRDS/mappings/jwst/jwst_fgs_linearity_0015.rmap
/CRDS/mappings/jwst/jwst_fgs_mask_0023.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-darkpipeline_0002.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-detector1pipeline_0002.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-image2pipeline_0005.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-outlierdetectionstep_0001.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-sourcecatalogstep_0001.rmap
/CRDS/mappings/jwst/jwst_fgs_pars-tweakregstep_0002.rmap
/CRDS/mappings/jwst/jwst_fgs_persat_0006.rmap
/CRDS/mappings/jwst/jwst_fgs_photom_0014.rmap
/CRDS/mappings/jwst/jwst_fgs_readnoise_0011.rmap
/CRDS/mappings/jwst/jwst_fgs_saturation_0009.rmap
/CRDS/mappings/jwst/jwst_fgs_superbias_0017.rmap
/CRDS/mappings/jwst/jwst_fgs_trapdensity_0006.rmap
/CRDS/mappings/jwst/jwst_fgs_trappars_0004.rmap
/CRDS/mappings/jwst/jwst_miri_0415.imap
/CRDS/mappings/jwst/jwst_miri_abvegaoffset_0002.rmap
/CRDS/mappings/jwst/jwst_miri_apcorr_0019.rmap
/CRDS/mappings/jwst/jwst_miri_area_0015.rmap
/CRDS/mappings/jwst/jwst_miri_cubepar_0017.rmap
/CRDS/mappings/jwst/jwst_miri_dark_0036.rmap
/CRDS/mappings/jwst/jwst_miri_distortion_0040.rmap
/CRDS/mappings/jwst/jwst_miri_drizpars_0002.rmap
/CRDS/mappings/jwst/jwst_miri_emicorr_0003.rmap
/CRDS/mappings/jwst/jwst_miri_extract1d_0020.rmap
/CRDS/mappings/jwst/jwst_miri_filteroffset_0025.rmap
/CRDS/mappings/jwst/jwst_miri_flat_0065.rmap
/CRDS/mappings/jwst/jwst_miri_fringe_0019.rmap
/CRDS/mappings/jwst/jwst_miri_fringefreq_0003.rmap
/CRDS/mappings/jwst/jwst_miri_gain_0013.rmap
/CRDS/mappings/jwst/jwst_miri_ipc_0008.rmap
/CRDS/mappings/jwst/jwst_miri_linearity_0018.rmap
/CRDS/mappings/jwst/jwst_miri_mask_0023.rmap
/CRDS/mappings/jwst/jwst_miri_mrsptcorr_0005.rmap
/CRDS/mappings/jwst/jwst_miri_mrsxartcorr_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-darkcurrentstep_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-darkpipeline_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-detector1pipeline_0009.rmap
/CRDS/mappings/jwst/jwst_miri_pars-emicorrstep_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-extract1dstep_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-image2pipeline_0007.rmap
/CRDS/mappings/jwst/jwst_miri_pars-jumpstep_0009.rmap
/CRDS/mappings/jwst/jwst_miri_pars-outlierdetectionstep_0017.rmap
/CRDS/mappings/jwst/jwst_miri_pars-resamplespecstep_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-resamplestep_0002.rmap
/CRDS/mappings/jwst/jwst_miri_pars-sourcecatalogstep_0003.rmap
/CRDS/mappings/jwst/jwst_miri_pars-spec2pipeline_0012.rmap
/CRDS/mappings/jwst/jwst_miri_pars-spec3pipeline_0008.rmap
/CRDS/mappings/jwst/jwst_miri_pars-tweakregstep_0003.rmap
/CRDS/mappings/jwst/jwst_miri_pars-whitelightstep_0003.rmap
/CRDS/mappings/jwst/jwst_miri_pathloss_0005.rmap
/CRDS/mappings/jwst/jwst_miri_photom_0056.rmap
/CRDS/mappings/jwst/jwst_miri_psfmask_0009.rmap
/CRDS/mappings/jwst/jwst_miri_readnoise_0023.rmap
/CRDS/mappings/jwst/jwst_miri_regions_0033.rmap
/CRDS/mappings/jwst/jwst_miri_reset_0026.rmap
/CRDS/mappings/jwst/jwst_miri_resol_0006.rmap
/CRDS/mappings/jwst/jwst_miri_rscd_0008.rmap
/CRDS/mappings/jwst/jwst_miri_saturation_0015.rmap
/CRDS/mappings/jwst/jwst_miri_specwcs_0042.rmap
/CRDS/mappings/jwst/jwst_miri_straymask_0009.rmap
/CRDS/mappings/jwst/jwst_miri_tsophot_0004.rmap
/CRDS/mappings/jwst/jwst_miri_wavelengthrange_0027.rmap
/CRDS/mappings/jwst/jwst_nircam_0294.imap
/CRDS/mappings/jwst/jwst_nircam_abvegaoffset_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_apcorr_0008.rmap
/CRDS/mappings/jwst/jwst_nircam_area_0012.rmap
/CRDS/mappings/jwst/jwst_nircam_dark_0044.rmap
/CRDS/mappings/jwst/jwst_nircam_distortion_0033.rmap
/CRDS/mappings/jwst/jwst_nircam_drizpars_0001.rmap
/CRDS/mappings/jwst/jwst_nircam_extract1d_0004.rmap
/CRDS/mappings/jwst/jwst_nircam_filteroffset_0004.rmap
/CRDS/mappings/jwst/jwst_nircam_flat_0027.rmap
/CRDS/mappings/jwst/jwst_nircam_gain_0016.rmap
/CRDS/mappings/jwst/jwst_nircam_ipc_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_linearity_0011.rmap
/CRDS/mappings/jwst/jwst_nircam_mask_0011.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-darkcurrentstep_0001.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-darkpipeline_0002.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-detector1pipeline_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-image2pipeline_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-jumpstep_0005.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-outlierdetectionstep_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-resamplestep_0002.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-sourcecatalogstep_0002.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-spec2pipeline_0008.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-tweakregstep_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_pars-whitelightstep_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_persat_0005.rmap
/CRDS/mappings/jwst/jwst_nircam_photom_0028.rmap
/CRDS/mappings/jwst/jwst_nircam_psfmask_0008.rmap
/CRDS/mappings/jwst/jwst_nircam_readnoise_0024.rmap
/CRDS/mappings/jwst/jwst_nircam_saturation_0010.rmap
/CRDS/mappings/jwst/jwst_nircam_specwcs_0022.rmap
/CRDS/mappings/jwst/jwst_nircam_superbias_0017.rmap
/CRDS/mappings/jwst/jwst_nircam_trapdensity_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_trappars_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_tsophot_0003.rmap
/CRDS/mappings/jwst/jwst_nircam_wavelengthrange_0010.rmap
/CRDS/mappings/jwst/jwst_nircam_wfssbkg_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_0256.imap
/CRDS/mappings/jwst/jwst_niriss_abvegaoffset_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_apcorr_0010.rmap
/CRDS/mappings/jwst/jwst_niriss_area_0014.rmap
/CRDS/mappings/jwst/jwst_niriss_dark_0031.rmap
/CRDS/mappings/jwst/jwst_niriss_distortion_0025.rmap
/CRDS/mappings/jwst/jwst_niriss_drizpars_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_extract1d_0007.rmap
/CRDS/mappings/jwst/jwst_niriss_filteroffset_0010.rmap
/CRDS/mappings/jwst/jwst_niriss_flat_0023.rmap
/CRDS/mappings/jwst/jwst_niriss_gain_0011.rmap
/CRDS/mappings/jwst/jwst_niriss_ipc_0007.rmap
/CRDS/mappings/jwst/jwst_niriss_linearity_0022.rmap
/CRDS/mappings/jwst/jwst_niriss_mask_0020.rmap
/CRDS/mappings/jwst/jwst_niriss_nrm_0002.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-chargemigrationstep_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-darkcurrentstep_0001.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-darkpipeline_0002.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-detector1pipeline_0002.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-image2pipeline_0005.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-jumpstep_0007.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-outlierdetectionstep_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-resamplestep_0002.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-sourcecatalogstep_0002.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-spec2pipeline_0008.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-tweakregstep_0012.rmap
/CRDS/mappings/jwst/jwst_niriss_pars-undersamplecorrectionstep_0001.rmap
/CRDS/mappings/jwst/jwst_niriss_pathloss_0003.rmap
/CRDS/mappings/jwst/jwst_niriss_persat_0007.rmap
/CRDS/mappings/jwst/jwst_niriss_photom_0035.rmap
/CRDS/mappings/jwst/jwst_niriss_readnoise_0011.rmap
/CRDS/mappings/jwst/jwst_niriss_saturation_0015.rmap
/CRDS/mappings/jwst/jwst_niriss_speckernel_0006.rmap
/CRDS/mappings/jwst/jwst_niriss_specprofile_0008.rmap
/CRDS/mappings/jwst/jwst_niriss_spectrace_0008.rmap
/CRDS/mappings/jwst/jwst_niriss_specwcs_0014.rmap
/CRDS/mappings/jwst/jwst_niriss_superbias_0028.rmap
/CRDS/mappings/jwst/jwst_niriss_throughput_0005.rmap
/CRDS/mappings/jwst/jwst_niriss_trapdensity_0005.rmap
/CRDS/mappings/jwst/jwst_niriss_trappars_0004.rmap
/CRDS/mappings/jwst/jwst_niriss_wavelengthrange_0006.rmap
/CRDS/mappings/jwst/jwst_niriss_wavemap_0008.rmap
/CRDS/mappings/jwst/jwst_niriss_wfssbkg_0007.rmap
/CRDS/mappings/jwst/jwst_nirspec_0379.imap
/CRDS/mappings/jwst/jwst_nirspec_apcorr_0009.rmap
/CRDS/mappings/jwst/jwst_nirspec_area_0018.rmap
/CRDS/mappings/jwst/jwst_nirspec_barshadow_0007.rmap
/CRDS/mappings/jwst/jwst_nirspec_camera_0026.rmap
/CRDS/mappings/jwst/jwst_nirspec_collimator_0026.rmap
/CRDS/mappings/jwst/jwst_nirspec_cubepar_0015.rmap
/CRDS/mappings/jwst/jwst_nirspec_dark_0069.rmap
/CRDS/mappings/jwst/jwst_nirspec_dflat_0007.rmap
/CRDS/mappings/jwst/jwst_nirspec_disperser_0028.rmap
/CRDS/mappings/jwst/jwst_nirspec_extract1d_0018.rmap
/CRDS/mappings/jwst/jwst_nirspec_fflat_0024.rmap
/CRDS/mappings/jwst/jwst_nirspec_flat_0015.rmap
/CRDS/mappings/jwst/jwst_nirspec_fore_0026.rmap
/CRDS/mappings/jwst/jwst_nirspec_fpa_0028.rmap
/CRDS/mappings/jwst/jwst_nirspec_gain_0023.rmap
/CRDS/mappings/jwst/jwst_nirspec_ifufore_0017.rmap
/CRDS/mappings/jwst/jwst_nirspec_ifupost_0019.rmap
/CRDS/mappings/jwst/jwst_nirspec_ifuslicer_0017.rmap
/CRDS/mappings/jwst/jwst_nirspec_ipc_0006.rmap
/CRDS/mappings/jwst/jwst_nirspec_linearity_0017.rmap
/CRDS/mappings/jwst/jwst_nirspec_mask_0039.rmap
/CRDS/mappings/jwst/jwst_nirspec_msa_0027.rmap
/CRDS/mappings/jwst/jwst_nirspec_msaoper_0014.rmap
/CRDS/mappings/jwst/jwst_nirspec_ote_0030.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-darkcurrentstep_0001.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-darkpipeline_0003.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-detector1pipeline_0003.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-image2pipeline_0008.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-jumpstep_0005.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-outlierdetectionstep_0002.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-resamplespecstep_0002.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-spec2pipeline_0013.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-whitelightstep_0001.rmap
/CRDS/mappings/jwst/jwst_nirspec_pathloss_0007.rmap
/CRDS/mappings/jwst/jwst_nirspec_photom_0013.rmap
/CRDS/mappings/jwst/jwst_nirspec_readnoise_0025.rmap
/CRDS/mappings/jwst/jwst_nirspec_refpix_0015.rmap
/CRDS/mappings/jwst/jwst_nirspec_saturation_0018.rmap
/CRDS/mappings/jwst/jwst_nirspec_sflat_0026.rmap
/CRDS/mappings/jwst/jwst_nirspec_superbias_0074.rmap
/CRDS/mappings/jwst/jwst_nirspec_wavecorr_0005.rmap
/CRDS/mappings/jwst/jwst_nirspec_wavelengthrange_0024.rmap
/CRDS/mappings/jwst/jwst_system_0037.imap
/CRDS/mappings/jwst/jwst_system_calver_0038.rmap
/CRDS/mappings/jwst/jwst_system_datalvl_0002.rmap
/CRDS/references/jwst/nirspec/jwst_nirspec_camera_0008.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_collimator_0008.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_disperser_0065.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_fore_0054.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_fpa_0009.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_msa_0009.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_ote_0011.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_wavelengthrange_0006.asdf
/CRDS/mappings/jwst/jwst_1298.pmap
/CRDS/mappings/jwst/jwst_fgs_0117.imap
/CRDS/mappings/jwst/jwst_miri_0416.imap
/CRDS/mappings/jwst/jwst_nircam_0295.imap
/CRDS/mappings/jwst/jwst_niriss_0261.imap
/CRDS/mappings/jwst/jwst_niriss_pastasoss_0004.rmap
/CRDS/mappings/jwst/jwst_nirspec_0383.imap
/CRDS/mappings/jwst/jwst_nirspec_fflat_0026.rmap
/CRDS/mappings/jwst/jwst_nirspec_pars-outlierdetectionstep_0003.rmap
/CRDS/mappings/jwst/jwst_system_0042.imap
/CRDS/mappings/jwst/jwst_system_calver_0043.rmap
/CRDS/references/jwst/nirspec/jwst_nirspec_pars-resamplespecstep_0001.asdf
/CRDS/references/jwst/nirspec/jwst_nirspec_wavecorr_0004.asdf
/CRDS/mappings/jwst/jwst_1303.pmap
/CRDS/mappings/jwst/jwst_nircam_0297.imap
/CRDS/mappings/jwst/jwst_nircam_dark_0045.rmap
/CRDS/mappings/jwst/jwst_nircam_readnoise_0025.rmap
/CRDS/mappings/jwst/jwst_nircam_superbias_0018.rmap
/CRDS/mappings/jwst/jwst_system_0043.imap
/CRDS/mappings/jwst/jwst_system_calver_0044.rmap
/mastDownload/JWST/CEERS-NIRSPEC-P5-PRISM-MSATA/Default/Final/finished
/mastDownload/JWST/CEERS-NIRSPEC-P5-PRISM-MSATA/Final/finished
/mastDownload/JWST/CEERS-NIRSPEC-P5-PRISM-MSATA/NoSubtraction/Final/finished
