# Ignore Data folders
/JWST/mastDownload/
/JWST/.ipynb_checkpoints/
/JWST/__pycache__/
/JWST/.idea/
/Topcat/

# Ignore Images
*.png
*.fits
*.npy
*.json
*-checkpoint*
*.txt

jwst-pipeline-readthedocs-io-en-latest.pdf
download_MAST_data.py
